body {
  background-color: #FFFFFF;
  background-size: 4px 4px;
  color: #FFFFFF;
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba(77, 73, 62, 0.4), inset 0 0 150px rgba(77, 73, 62, 0.3);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  letter-spacing: 0.1rem;
}

h1 {
  margin-top: 250px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 500;
  letter-spacing: .7rem;
  text-shadow: 0.2rem 0.2rem 0 rgba(10, 209, 206);
}

h2 {
  margin-bottom: 50px;
  margin-left: 350px;
  text-align: center;
  width: 50%;
  font-weight: 200;
  letter-spacing: .2rem;
  background-color: rgba(0, 0, 0, 0.6);
}

h3 {
  margin-top: 250px;
  margin-bottom: 20px;
  margin-left: 250px;
  text-align: center;
  width: 50%;
  font-weight: 200;
  letter-spacing: .2rem;
  background-color: rgba(0, 0, 0, 0.6);
  float: right;
}

h4 {
  margin-bottom: 50px;
  margin-left: 250px;
  text-align: center;
  width: 50%;
  font-weight: 200;
  letter-spacing: .2rem;
  background-color: rgba(0, 0, 0, 0.6);
  float: right;
}


p {
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 40px;
  margin-right: 175px;
  text-align: right;
  font-weight: 500;
  letter-spacing: .7rem;
  text-shadow: 0.2rem 0.2rem 0 rgba(10, 209, 206);

}

video {
  display: block;
margin: 0 auto;
}

.container {
  padding: 0 4rem;
}

/*implement "anchor link" to move to section when clicking button*/
.navbar button{
  width:120px;
  height: 40px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*Floating Back-To-Top Button*/
    #myBtn {
        position: fixed;
        font: inherit;
        bottom: 60px;
        float: right;
        right: 21%;
        left: 90%;
        max-width: 30px;
        width: 100%;
        font-size: 13px;
        border-color: rgba(85, 85, 85, 0.2);
        background-color: rgb(100,100,100);
        padding: 15px;
        border-radius: 4px;
        box-shadow: 5px 5px #000000;

    }
/*On Hover Color Change*/
    #myBtn:hover {
        background-color: transparent;
  color: #C8C2AA;
  border-color: rgba(10, 209, 206);
    }


button {
  cursor: pointer;
  font: inherit;
  border: none;
  padding: .4rem 1rem;
  background-color: #EDEDED;
  color: #4D493E;
  box-sizing: content-box;
  position: relative;
  border: 1px solid transparent;
  border-left: none;
  border-right: none;
  box-shadow: 5px 5px #c74274;
}

button::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 3px;
  bottom: 3px;
  width: 0;
  background-color: #4D493E;
  opacity: 100%;
  transition: 0.2s;
}

button::after {
  content: "";
  display: none;
  position: absolute;
  background: #4D493E;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -4px;
}
button:hover, button:focus {
  background-color: transparent;
  color: #C8C2AA;
  border-color: rgba(10, 209, 206);
}
button:hover::before, button:focus::before {
  width: 100%;
}

/*-----------------background-------------------------*/
.image1{
  max-width: 1920px;
  margin: 0 auto;
  background-image: url('https://pbs.twimg.com/media/ECFd9teUIAAb_pt?format=jpg&name=medium');
  height: 800px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.image2{
  max-width: 1920px;
  margin: 0 auto;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-image:
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 2rem,
      #141d26 1rem,
      #141d26 6rem
    );
  background-size: 200% 200%;
  animation: barberpole 10s reverse linear infinite; /* Avoid width reflow */
}

@keyframes barberpole {
  100% {
    background-position: 70% 70%;
  }
}

.image3{
  max-width: 1920px;
  margin: 0 auto;
  background-image: url('https://i.gifer.com/S7ub.gif');
  height: 400px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.image4{
  max-width: 1920px;
  margin: 0 auto;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
background-image:
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 2rem,
      #141d26 1rem,
      #141d26 6rem
    );
  background-size: 200% 200%;
  animation: barberpole 10s linear infinite; /* Avoid width reflow */
}

@keyframes barberpole {
  100% {
    background-position: 70% 70%;
  }
}
.image5{
  max-width: 1920px;
  margin: 0 auto;
  background-image: url('https://pbs.twimg.com/media/D75XJe2UcAEWX-5?format=png&name=900x900');
  height: 400px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.image6{
  max-width: 1920px;
  margin: 0 auto;
  background-image: url('https://cdn.weasyl.com/~rooibos/submissions/1163632/144f9ecef2d2039b654f584ae79491c651ee4f57c6b3164eb0cf29f1e41ede0a/rooibos-guts-background.png');
  height: 800px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}
