.image1{
  max-width: 1920px;
  margin: 0 auto;
  background-image: url('https://pbs.twimg.com/media/ECFd9teUIAAb_pt?format=jpg&name=medium');
  height: 800px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.image2{
  max-width: 1920px;
  margin: 0 auto;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-image:
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 2rem,
      #141d26 1rem,
      #141d26 6rem
    );
  background-size: 200% 200%;
  animation: barberpole 10s reverse linear infinite; /* Avoid width reflow */
}

@keyframes barberpole {
  100% {
    background-position: 70% 70%;
  }
}

.image3{
  max-width: 1920px;
  margin: 0 auto;
  background-image: url('https://images.squarespace-cdn.com/content/v1/58e9b976e58c6214d4b74edc/1511489381695-P7SH2824PJVTUGTWOZC6/ke17ZwdGBToddI8pDm48kNMIMLR5HyT8T-Jl3SGhJah7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0lymOeRAJHHH9XqfSiOb7cTGbLAieTgWkYuEkwDB4voIismrhiD4NjJHt9jYGvYsHg/k-bomb_logo_pattern-5.gif?format=2500w');
  height: 400px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.image4{
  max-width: 1920px;
  margin: 0 auto;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
background-image:
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 2rem,
      #141d26 1rem,
      #141d26 6rem
    );
  background-size: 200% 200%;
  animation: barberpole 10s linear infinite; /* Avoid width reflow */
}

@keyframes barberpole {
  100% {
    background-position: 70% 70%;
  }
}
.image5{
  max-width: 1920px;
  margin: 0 auto;
  background-image: url('https://pbs.twimg.com/media/D75XJe2UcAEWX-5?format=png&name=900x900');
  height: 400px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.image6{
  max-width: 1920px;
  margin: 0 auto;
  background-image: url('https://cdn.weasyl.com/~rooibos/submissions/1163632/144f9ecef2d2039b654f584ae79491c651ee4f57c6b3164eb0cf29f1e41ede0a/rooibos-guts-background.png');
  height: 800px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}
